azureiotdevice/examples/azure-iot-device-example.json
[{"id":"22a54cd.78c68b4","type":"azureiotdevice","z":"8ca0363e.dddc18","deviceid":"motor06","connectiontype":"dps","authenticationmethod":"x509","iothub":"","isIotcentral":true,"scopeid":"0ne000C9A19","enrollmenttype":"group","saskey":"DCb0df+8wKsi01/kRet+z6mHT76i2HVdEM88LIpgyYCbqUEUj/1StSp06ydJ4A8fjSLukfx6GZFMED9WOJHz4g==","x509certificate":"/home/node/.node-red/tools/motor06_fullchain.pem","x509key":"/home/node/.node-red/tools/motor06_key.pem","protocol":"amqp","methods":[{"name":"turnOnLed"},{"name":"blink"},{"name":"turnOffLed"},{"name":"echo"},{"name":"countdown"}],"information":[{"name":"manufacturer","value":"IoT Blackbelt"},{"name":"model","value":"Node-red"},{"name":"swVersion","value":"1.0"},{"name":"osName","value":"Debian 9"},{"name":"processorArchitecture","value":"AMD64"},{"name":"processorManufacturer","value":"Intel"},{"name":"totalStorage","value":"256Gb"},{"name":"totalMemory","value":"8Gb"}],"gateway":"","x":640,"y":220,"wires":[["f21795d9.790e98"]]},{"id":"f21795d9.790e98","type":"debug","z":"8ca0363e.dddc18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":260,"wires":[]},{"id":"6a01ed35.0ea614","type":"inject","z":"8ca0363e.dddc18","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":100,"wires":[["2a213165.43e9fe"]]},{"id":"2a213165.43e9fe","type":"function","z":"8ca0363e.dddc18","name":"telemetry","func":"msg = {\n    'topic': 'telemetry',\n    'payload': {'humidity': Math.round(10000*Math.random())/100,\n        'temperature': 20 + (Math.round(2500*Math.random())/100),\n        'pressure': 850 + (Math.round(35000*Math.random())/100)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["22a54cd.78c68b4"]]},{"id":"e2e4d945.a56538","type":"inject","z":"8ca0363e.dddc18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["59bf6923.9c0b48"]]},{"id":"59bf6923.9c0b48","type":"function","z":"8ca0363e.dddc18","name":"properties","func":"msg = {\n    'topic': 'properties',\n    'payload': { 'fanSpeed': {'value':100},\n        'voltage': {'value':5},\n        'current': {'value':55},\n        'irSwitch': {'value':true}\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["22a54cd.78c68b4"]]}]